


.section-content .rank i {
	color: var(--thim-body-primary-color);
}


.lp-single-course.lp-4 #learn-press-course .course-summary .course-landing-summary #learn-press-course-curriculum .curriculum-heading .total .text {
	color: var(--thim-body-primary-color);
}

.lp-single-course.lp-4 #learn-press-course .course-summary .course-landing-summary #learn-press-course-curriculum .curriculum-scrollable .curriculum-sections .section .section-header .section-left .section-toggle i {
	color: var(--thim-body-primary-color);
}

.lp-single-course.lp-4 #learn-press-course .course-summary .course-landing-summary #learn-press-course-curriculum .curriculum-scrollable .curriculum-sections .section .section-content .course-item .course-format-icon i {
	color: var(--thim-body-primary-color);
}

.lp-single-course.lp-4 #learn-press-course .course-summary .course-learning-summary #learn-press-course-tabs .course-tab-panels .course-tab-panel #learn-press-course-curriculum .curriculum-scrollable .curriculum-sections .section .section-content .course-item .course-format-icon i {
	color: var(--thim-body-primary-color);
}

.lp-single-course.lp-4 #learn-press-course .course-summary .course-learning-summary #learn-press-course-tabs .course-tab-panels .course-tab-panel #learn-press-course-curriculum .curriculum-scrollable .curriculum-sections .section .section-header .section-left .section-toggle i {
	color: var(--thim-body-primary-color);
}

.lp-single-course.lp-4 #learn-press-course .course-summary .course-learning-summary #learn-press-course-tabs .course-tab-panels .course-tab-panel #learn-press-course-curriculum .curriculum-scrollable .curriculum-sections .section .section-content .course-item:hover .section-item-link .course-item-meta .lp-label {
	background: var(--thim-body-primary-color);
}

.lp-single-course.lp-4 #learn-press-course .course-summary .course-learning-summary #learn-press-course-tabs .course-tab-panels .course-tab-panel #learn-press-course-curriculum .curriculum-scrollable .curriculum-sections .section .section-header .section-meta .learn-press-progress .number {
	color: var(--thim-body-primary-color);
}

.lp-single-course.lp-4 #popup-course #popup-sidebar #learn-press-course-curriculum .curriculum-scrollable .curriculum-sections .section .section-header .section-meta .learn-press-progress .number {
	color: var(--thim-body-primary-color);
}

.lp-single-course.lp-4 #popup-course #popup-header,
.lp-modal-dialog .lp-modal-content .lp-modal-header {
	background: var(--thim-body-primary-color);

}

.lp-single-course.lp-4 #popup-course #popup-sidebar #learn-press-course-curriculum .curriculum-scrollable .curriculum-sections .section .section-content .course-item .course-format-icon {
	color: var(--thim-body-primary-color) !important;
}

.lp-single-course.lp-4 #popup-course #popup-sidebar #learn-press-course-curriculum .curriculum-scrollable .curriculum-sections .section .section-content .course-item:hover .section-item-link .course-item-meta .lp-label {
	background: var(--thim-body-primary-color);
}

.lp-single-course.lp-4 #popup-course #popup-content #learn-press-content-item .content-item-scrollable .content-item-wrap .content-item-summary .lp-button.completed {
	background: var(--thim-body-primary-color);
}

.lp-single-course.lp-4 #popup-course #popup-content #learn-press-content-item .content-item-scrollable .content-item-wrap .content-item-summary .form-button.form-button-finish-course .lp-button {
	background: var(--thim-body-primary-color);
}

.lp-single-course.lp-4 #learn-press-course .course-summary .course-landing-summary #learn-press-course-curriculum .learn-press-course-results-progress .lp-course-progress::after {
	color: var(--thim-body-primary-color);
}

.lp-single-course.lp-4 #popup-course #popup-sidebar #learn-press-course-curriculum .learn-press-course-results-progress .learn-press-progress::after {
	color: var(--thim-body-primary-color);
}

.lp-single-course.lp-4 #popup-course #popup-sidebar #learn-press-course-curriculum .learn-press-course-results-progress .lp-course-progress-heading .lp-course-status .lp-label {
	background: var(--thim-body-primary-color);
}

.lp-single-course.lp-4 #popup-course #popup-sidebar #learn-press-course-curriculum .curriculum-scrollable .curriculum-sections .section .section-content .course-item .section-item-link .course-item-meta .lp-label {
	background: var(--thim-body-primary-color);
}

.lp-single-course.lp-4 #popup-course #popup-header .thim-course-item-popup-right #sidebar-toggle.toggle-content-item,
#learn-press-profile-basic-information button,
form[name="profile-change-password"] button {
	background: var(--thim-body-primary-color);
}

#learn-press-profile-basic-information button:hover, form[name="profile-change-password"] button:hover {
	background: var(--thim-body-primary-color);
}

#learn-press-profile.lp-user-profile  #profile-nav .lp-profile-nav-tabs > li.wishlist > a::before,
.course-curriculum .section-header .section-left .section-toggle .fa-caret-down,
.lp-4 #learn-press-course-curriculum.course-curriculum ul.curriculum-sections .section-content .course-item .section-item-link:hover .item-name {
	color: var(--thim-body-primary-color);
}

#learn-press-profile.lp-user-profile  #profile-content .lp-button:hover,
#popup-course #popup-content .lp-button:hover,
.learnpress-page .lp-button:hover, .learnpress-page #lp-button:hover,
#profile-content-withdrawals .withdrawal_form_wraper.paypal .lp-form-field-input .submit:hover,
.lp-pmpro-membership-list .pmpro_btn-select:hover {
	background: var(--thim-body-primary-color);
	border-color: var(--thim-body-primary-color);
}

.lp-4 {
	&.lp-single-course #popup-course #popup-footer .course-item-nav .prev:hover a,
	&.lp-single-course #popup-course #popup-footer .course-item-nav .next:hover a,
	.quiz-intro-item::before,
	#popup-course #popup-content #learn-press-quiz-app .questions-pagination .nav-links .page-numbers.current,
	#popup-course #popup-content #learn-press-quiz-app .questions-pagination .nav-links .page-numbers:hover,
	.course-extra-box__content li::before,
	input[name="course-faqs-box-ratio"]:checked + .course-faqs-box .course-faqs-box__title,
	.course-tab-panel-faqs .course-faqs-box:hover .course-faqs-box__title {
		color: var(--thim-body-primary-color);
	}

}


//.course .content .thumbnail .sale {
//	border-top-color: var(--thim-body-primary-color);
//}

#learn-press-profile.lp-user-profile  #profile-content .button-when-logged.has-wishlist .learn-press-course-wishlist:hover,
#thim-landing-course-menu-tab .has-wishlist .learn-press-course-buttons button.course-wishlist.on {
	color: var(--thim-body-primary-color);
}

.lp-lesson-comment-btn {
	background: var(--thim-body-primary-color);
}

#learn-press-checkout .learnpress #learn-press-checkout-form .lp-checkout-form__after #checkout-payment #checkout-order-action .lp-button {
	background: var(--thim-body-primary-color);
}

#thim-landing-course-menu-tab .has-wishlist .learn-press-course-buttons button.course-wishlist {
	border-color: var(--thim-body-primary-color);
	color: var(--thim-body-primary-color);
}

#thim-landing-course-menu-tab .has-wishlist .learn-press-course-buttons button.course-wishlist:hover {
	background: var(--thim-body-primary-color);
}

.lp-lesson-comment-btn:hover,
#thim-landing-course-menu-tab .has-wishlist .learn-press-course-buttons button.course-wishlist:hover,
.lp-lesson-comment-btn {
	color: white;
}